textarea, label{
  font-size: 1em;
  display: block;
  width:50%;
  color:black;
  border: 1px solid #09f;
  border-radius: 2% 1%;
  padding:0.1em;
  background-color: white;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  color: #61dafb;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  color:#09f;
}
