body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Century Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#001122;
  padding:3vmin;
  font-size: 3em;
}

